.top-bar {
    background-color: #4267b2 !important;
    border-bottom: 1px solid #29487d;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    font-size: 90%;
}

.search-box input, .search-btn {
    height: 1.7rem;
    border-radius: 1px;
}

.search-box .search-btn {
    width: 3.5rem;
    background-color: #f5f6f7;
    border: none;
    padding: 0 !important;
}

.right-side {
    color: white;
    vertical-align: middle;
}

.right-side img {
    width: 1.5rem;
    border-radius: 50%;
}

.right-side a {
    color: white;
}

.right-side a:hover {
    text-decoration: none;
}

.right-side a .with-border {
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.right-side a i {
    color: rgba(0, 0, 0, .7);
    font-size: 1.25rem;
}


@media only screen and (max-width: 1920px) {
    .search-box {
      width: 35rem
    }
  }
  
  @media only screen and (max-width: 1366px) {
    .search-box {
      width: 25rem
    }
  }
  
  @media only screen and (max-width: 768) {
    .search-box {
      width: 15rem
    }
  }
  
  @media only screen and (max-width: 512) {
    .search-box {
      width: 10rem
    }
  }