/* Add mobile styles for the component here.  */

.post-author-name, .cmt-author-name {
    font-weight: bold;
}

.post-author-image, .cmt-author-image {
    border-radius: 50%;
}

.reaction-tile {
    background-image: url("~/assets/icons/fb-reactions.png");
    background-repeat: no-repeat;
    background-position: -49px -1069px;
    background-size: auto;
}

.post-action {
    color: #3d4852;
    font-weight: bold;
}

.cmt-part {
    background-color: #f2f3f5;
    padding: 4 12;
    border-radius: 16;
}

.cmt-author-name, .cmt-content {
    font-size: 14;
}