<div class="left-sidebar">
  <div class="menu-item">
    <img src="../../../../assets/icons/avt.jpg">
    <span class="pl-2">Ngữ</span>
  </div>
  <div class="menu-item active mt-2">
    <i class="icon icon-news-feed"></i>
    <span class="pl-2">News feed</span>
  </div>
  <div class="menu-item ">
      <i class="icon icon-messenger"></i>
      <span class="pl-2">Messenger</span>
  </div>
  <div class="menu-item">
      <i class="icon icon-video-on-watch"></i>
    <span class="pl-2">Video on Watch</span>
  </div>
  <div class="menu-item">
      <i class="icon icon-market-place"></i>
    <span class="pl-2">Marketplace</span>
  </div>
</div>